.main-view-graph-table {
    position: relative;
}

.main-view-graph-table .main-view-graph-table-row {
    background-color: #fff;
    text-align: center;
}

.main-view-graph-table .main-view-graph-table-row-borderTop {
    border-top: 1px solid #B0B0B0;
}

.main-view-graph-table .main-view-graph-table-rowOrHead {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.main-view-graph-table td.main-view-graph-table-rowOrHead > div,
.main-view-graph-table td.main-view-graph-table-rowOrHead > section {
    transform-origin: center;
    transform: scale(1.5);
}

.main-view-graph-table .main-view-graph-table-rowOrHead > div,
.main-view-graph-table .main-view-graph-table-rowOrHead > section {
    box-sizing: border-box;
}

.main-view-graph-table-rowOrHead.main-view-graph-table-rowOrHead-borderLeft,
.main-view-graph-table-rowOrHead.main-view-graph-table-rowOrHead-borderRight {
    border-right: 1px solid #B0B0B0 !important;
}

.ant-table-tbody .main-view-graph-table-rowOrHead-prizeNumber {
    border-right: 1px solid #e8e8e8 !important;
}

.main-view-graph-table-rowOrHead.main-view-graph-table-rowOrHeadLeft {
    text-align: left;
}

.main-view-graph-table-row .main-view-graph-table-rowOrHead.main-view-graph-table-rowOrHead-overAdd {
    background-color: #f2f2f2;
}

.main-view-graph-table > .main-view-graph-pagination {
    margin-top: 6px;
    text-align: right;
}

.main-view-graph-pagination .ant-pagination-item-active {
    background-color: #355395;
    border-color: #355395;
}

.main-view-graph-pagination .ant-pagination-item:focus, .main-view-graph-pagination .ant-pagination-item:hover {
    border-color: #355395;
}

.main-view-graph-pagination .ant-pagination-item-active:focus, .main-view-graph-pagination .ant-pagination-item-active:hover {
    background-color: #355395;
    border-color: #355395;
}

.main-view-graph-pagination .ant-pagination-item:focus a, .main-view-graph-pagination .ant-pagination-item:hover a {
    color: #355395;
}

.main-view-graph-pagination .ant-pagination-item-active:focus a, .main-view-graph-pagination .ant-pagination-item-active:hover a, .main-view-graph-pagination .ant-pagination-item-active a {
    color: #fff;
}

.main-view-graph-table .ant-table-thead > tr > th, .main-view-graph-table .ant-table-tbody > tr > td {
    word-break: normal;
    padding: 0;
}

.main-view-graph-table > .main-view-graph-footer {
    background-color: #741b7a;
    color: #caa565;
    padding: 6px;
}

.main-view-graph-table > .main-view-graph-footer:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.main-view-graph-table > .main-view-graph-footer > .main-view-graph-footer-main {
    float: left;
}

.main-view-graph-table > .main-view-graph-footer > .main-view-graph-footer-graph {
    float: right;
}