.main-view-graph-table {
    position: relative;
}

.main-view-graph-table .main-view-graph-table-row {
    background-color: #fff;
    text-align: center;
}

.main-view-graph-table .main-view-graph-table-rowOrHead {
    text-align: center;
}

.main-view-graph-table-rowOrHead.main-view-graph-table-rowOrHeadLeft {
    text-align: left;
}

.main-view-graph-table-rowOrHead.main-view-graph-table-rowOrHead-overAdd {
    background-color: #FAFAFA;
}

.main-view-graph-table > .main-view-graph-pagination {
    margin-top: 6px;
    text-align: right;
}

.main-view-graph-pagination .ant-pagination-item-active {
    background-color: #355395;
    border-color: #355395;
}

.main-view-graph-pagination .ant-pagination-item:focus, .main-view-graph-pagination .ant-pagination-item:hover {
    border-color: #355395;
}

.main-view-graph-pagination .ant-pagination-item-active:focus, .main-view-graph-pagination .ant-pagination-item-active:hover {
    background-color: #355395;
    border-color: #355395;
}

.main-view-graph-pagination .ant-pagination-item:focus a, .main-view-graph-pagination .ant-pagination-item:hover a {
    color: #355395;
}

.main-view-graph-pagination .ant-pagination-item-active:focus a, .main-view-graph-pagination .ant-pagination-item-active:hover a, .main-view-graph-pagination .ant-pagination-item-active a {
    color: #fff;
}

.main-view-graph-table .ant-table-thead > tr > th, .main-view-graph-table .ant-table-tbody > tr > td {
    word-break: normal;
    padding: 16px 0;
}